In [4]:
m = [1,2,2,2,3,3,3,4,4,4,4]

In [6]:
m

[1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 4]

In [8]:
set(m)

{1, 2, 3, 4}

In [9]:
text = "my name is yash yogendra gandhak. I am from karanja lad."

In [10]:
words = text.split()

In [12]:
print(words)

['my', 'name', 'is', 'yash', 'yogendra', 'gandhak.', 'I', 'am', 'from', 'karanja', 'lad.']

In [15]:
print(set(words))
len(set(words))

{'I', 'gandhak.', 'from', 'yash', 'karanja', 'lad.', 'am', 'is', 'yogendra', 'name', 'my'}

11

#### Introduction to Dictionaries

Dictionaries are unordered collections of items. They store data in key-value pairs.
Keys must be unique and immutable (e.g., strings, numbers, or tuples), while values can be of any type.
keys cannot be changed but values can be changed

In [16]:
## Creating Dictionaries
empty_dict={}
print(type(empty_dict))

<class 'dict'>

In [18]:
empty_dict=dict()
empty_dict

{}

In [19]:
student={"name":"Krish","age":32,"grade":24}
print(student)
print(type(student))

{'name': 'Krish', 'age': 32, 'grade': 24}
<class 'dict'>

In [21]:
# Single key is always used ie if you update same keys, it will take latest key as key must be unique 
student={"name":"Krish","age":32,"name":24}
print(student)

{'name': 24, 'age': 32}

In [22]:
## accessing Dictionary Elements
student={"name":"Krish","age":32,"grade":'A'}
print(student)

{'name': 'Krish', 'age': 32, 'grade': 'A'}

In [25]:
## Accessing Dictionary elements
print(student['grade'])
print(student['age'])

## Accessing using get() method
print(student.get('grade'))
print(student.get('last_name'))
print(student.get('last_name',"Not Available")) # here,you can provide default value if key is not available in dictionary. 
print(student.get('grade',"Not Available"))

A
32
A
None
Not Available
A

In [26]:
## Modifying Dicitonary Elements
## Dictionary are mutable,so you can add, update or delete elements
print(student)

{'name': 'Krish', 'age': 32, 'grade': 'A'}

In [27]:
student["age"]=33  ##update value for the key
print(student)
student["address"]="India" ## added a new key and value
print(student)

{'name': 'Krish', 'age': 33, 'grade': 'A'}
{'name': 'Krish', 'age': 33, 'grade': 'A', 'address': 'India'}

In [28]:
del student['grade'] ## delete key and value pair

print(student)

{'name': 'Krish', 'age': 33, 'address': 'India'}

In [29]:
## Dictionary methods

keys=student.keys() ##get all the keys
print(keys)
values=student.values() ##get all values
print(values)

items=student.items() ##get all key value pairs
print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['Krish', 33, 'India'])
dict_items([('name', 'Krish'), ('age', 33), ('address', 'India')])

In [30]:
## shallow copy
student_copy=student
print(student)
print(student_copy)

{'name': 'Krish', 'age': 33, 'address': 'India'}
{'name': 'Krish', 'age': 33, 'address': 'India'}

In [31]:
student["name"]="Krish2"
print(student)
print(student_copy)

{'name': 'Krish2', 'age': 33, 'address': 'India'}
{'name': 'Krish2', 'age': 33, 'address': 'India'}

In [32]:
student_copy1=student.copy() ## shallow copy, this way it will allocate another memory with reference to student
print(student_copy1)
print(student)

{'name': 'Krish2', 'age': 33, 'address': 'India'}
{'name': 'Krish2', 'age': 33, 'address': 'India'}

In [33]:
student["name"]="KRish3"
print(student_copy1)
print(student)

{'name': 'Krish2', 'age': 33, 'address': 'India'}
{'name': 'KRish3', 'age': 33, 'address': 'India'}

In [34]:
### Iterating Over Dictionaries
## You can use loops to iterate over dictionatries, keys,values,or items

## Iterating over keys

for keys in student.keys():
    print(keys)

name
age
address

In [35]:
## Iterate over values
for values in student.values():
    print(values)

KRish3
33
India

In [58]:
for m, n in student.items():
    print(m, n)

name KRish3
age 33
address India

In [46]:
for item in student.items():
    print(item)

('name', 'KRish3')
('age', 33)
('address', 'India')

In [47]:
student.items()

dict_items([('name', 'KRish3'), ('age', 33), ('address', 'India')])

In [59]:
## Nested Disctionaries
students={
    "student1":{"name":"Krish","age":32},
    "student2":{"name":"Peter","age":35}
}
print(students)

{'student1': {'name': 'Krish', 'age': 32}, 'student2': {'name': 'Peter', 'age': 35}}

In [60]:
## Access nested dictionaries elementss
print(students["student2"]["name"])
print(students["student2"]["age"])

Peter
35

In [61]:
print(students)

{'student1': {'name': 'Krish', 'age': 32}, 'student2': {'name': 'Peter', 'age': 35}}

In [67]:
for student_id, student_info in students.items(): # by using ".items", you can iterate through each key value pair in nesting
    print(student_id, student_info)
    for key, value in student_info.items():
        print(key, value)

student1 {'name': 'Krish', 'age': 32}
name Krish
age 32
student2 {'name': 'Peter', 'age': 35}
name Peter
age 35

In [72]:
### Dictionary comprehensions

squares = {x:x**2 for x in range(1,5)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16}

In [89]:
lst =[i**2 for i in range (1,5)]
print(lst)

[1, 4, 9, 16]

In [93]:
[0,1,2,3]
[1,4,9,16]
diction = {}
for i,n in enumerate(lst):
    diction[i] = n
print(diction)

{0: 1, 1: 4, 2: 9, 3: 16}

In [94]:
lst = []
for i in range(1,10):
    lst.append(i)
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [95]:
## Condition dictionary comprehension
evens={x:x**2 for x in range(10) if x%2==0}
print(evens)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [103]:
## Merge 2 dictionaries into one

dict1={"a":1,"b":2, "c":5, "d":4}
dict2={"b":3,"c":4, "c": 8}
merged_dict={**dict1,**dict2}
print(merged_dict)

{'a': 1, 'b': 3, 'c': 8, 'd': 4}