<a href="https://colab.research.google.com/github/YashJain-22/Data_Analyst/blob/main/Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Sets
***Sets are a built-in data type in Python used to store collections of unique items. They are unordered, meaning that the elements do not follow a specific order, and they do not allow duplicate elements. Sets are useful for membership tests, eliminating duplicate entries, and performing mathematical set operations like union, intersection, difference, and symmetric difference.***

In [1]:
my_set = my_set={1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [2]:
my_empty_set=set()
print(type(my_empty_set))

<class 'set'>

In [3]:

my_set=set([1,2,3,4,5,6])
print(my_set)

{1, 2, 3, 4, 5, 6}

In [4]:
my_empty_set=set([1,2,3,6,5,4,5,6]) # it will not take duplicate entries & automatically removes them
print(my_empty_set)

{1, 2, 3, 4, 5, 6}

In [7]:
## Basics Sets Operation
## Adiing and Removing Elements
my_set.add(7) ## If you add duplicate elements, it will consider it one only
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

In [8]:
my_set.remove(10) ## if you use remove, it will show error if you removes values which are not present

KeyError: 10

In [9]:
my_set.discard(10) ## "discard"" will not throw error.

In [10]:
my_set.discard(3)

In [11]:
my_set

{1, 2, 4, 5, 6, 7}

In [12]:
my_set.pop() ## pop will remove FIFO method and removes from starting.

1

In [13]:
my_set.pop()

2

In [14]:
my_set.pop()

4

In [15]:
## clear all the elements
my_set.clear()
print(my_set)

set()

In [16]:
set = {1,2,3,4,5,6,7,8,9}

In [17]:
print(set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [21]:
## Membership tests

print(1 in set)
print(2 not in set)

True
False

In [23]:
## mathematical operations

set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

## Union

Union_Set = set1.union(set2)
print(Union_Set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [27]:
## Intersection - this will not change set1

intersection_set=set1.intersection(set2)
print(intersection_set)


## Intersection_update - this will update the set 1
set1.intersection_update(set2)
print(set1)

{4, 5, 6}
{4, 5, 6}

In [32]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

## Difference , shows what is unique in set 1st set compared to second
print(set1.difference(set2))
print(set2.difference(set1))

{1, 2, 3}
{8, 9, 7}

In [33]:
## Symmetric Difference, common elements are removed, ie intesection of 2 sets are removed
set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9}

In [35]:
## Sets Methods
set1={1,2,3,4,5}
set2={3,4,5}

## is subset
print(set1.issubset(set2))

print(set1.issuperset(set2))

False
True

In [42]:
lst = [1,2,2,3,4,4,5] # to remove duplicate elements of list

set(lst)

TypeError: 'set' object is not callable

In [43]:
m = [1,2,2,2,3,3,3,4,4,4,4]

In [49]:
set([1,2,2,2,3,3,3,4,4,4,4])

TypeError: 'set' object is not callable

In [50]:
set((1,2))

TypeError: 'set' object is not callable